loglevel=error
registry=https://registry.npmmirror.com

strictStorePkgContentCheck=false
verifyStoreIntegrity=false

network-concurrency=16
fetch-retries=3
fetch-timeout=60000

strict-peer-dependencies=false

auto-install-peers=true

lockfile=true
prefer-frozen-lockfile=true

resolution-mode=highest

# 不提示 npm 更新
update-notifier=false
