/* stylelint-disable selector-type-no-unknown */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable number-max-precision */
@import url('weapp-tailwindcss');

/* 小程序页面容器高度设置，确保垂直居中生效 */
page {
  height: 100%;
}

:root,
page,
root-portal {
  --background: lab(100% 0 0);
  --foreground: lab(2.75381% 0 0);
  --card: lab(100% 0 0);
  --card-foreground: lab(2.75381% 0 0);
  --popover: lab(100% 0 0);
  --popover-foreground: lab(2.75381% 0 0);
  --primary: lab(7.78201% -0.0000149012 0);
  --primary-foreground: lab(98.26% 0 0);
  --secondary: lab(96.52% -0.0000298023 0.0000119209);
  --secondary-foreground: lab(7.78201% -0.0000149012 0);
  --muted: lab(96.52% -0.0000298023 0.0000119209);
  --muted-foreground: lab(48.496% 0 0);
  --accent: lab(96.52% -0.0000298023 0.0000119209);
  --accent-foreground: lab(7.78201% -0.0000149012 0);
  --destructive: lab(48.4493% 77.4328 61.5452);
  --destructive-foreground: lab(96.4152% 3.22586 1.14673);
  --border: lab(90.952% 0 -0.0000119209);
  --input: lab(90.952% 0 -0.0000119209);
  --ring: lab(66.128% -0.0000298023 0.0000119209);
  --sidebar: lab(98.26% 0 0);
  --sidebar-foreground: lab(2.75381% 0 0);
  --sidebar-primary: lab(7.78201% -0.0000149012 0);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(96.52% -0.0000298023 0.0000119209);
  --sidebar-accent-foreground: lab(7.78201% -0.0000149012 0);
  --sidebar-border: lab(90.952% 0 -0.0000119209);
  --sidebar-ring: lab(66.128% -0.0000298023 0.0000119209);
  --surface: lab(97.68% -0.0000298023 0.0000119209);
  --code: var(--surface);
  --code-highlight: lab(95.36% 0 0);
  --code-number: lab(48.96% 0 0);
  --selection: lab(2.75381% 0 0);
  --selection-foreground: lab(100% 0 0);
  --tw-shadow: 0 0 #0000;
  --tw-shadow-color: initial;
  --tw-shadow-alpha: 100%;
  --tw-inset-shadow: 0 0 #0000;
  --tw-inset-shadow-color: initial;
  --tw-inset-shadow-alpha: 100%;
  --tw-ring-color: initial;
  --tw-ring-shadow: 0 0 #0000;
  --tw-inset-ring-color: initial;
  --tw-inset-ring-shadow: 0 0 #0000;
  --tw-ring-inset: initial;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-offset-shadow: 0 0 #0000;
}

.dark {
  --background: lab(2.75381% 0 0);
  --foreground: lab(98.26% 0 0);
  --card: lab(7.78201% -0.0000149012 0);
  --card-foreground: lab(98.26% 0 0);
  --popover: lab(7.78201% -0.0000149012 0);
  --popover-foreground: lab(98.26% 0 0);
  --primary: lab(90.952% 0 -0.0000119209);
  --primary-foreground: lab(7.78201% -0.0000149012 0);
  --secondary: lab(15.204% 0 -0.00000596046);
  --secondary-foreground: lab(98.26% 0 0);
  --muted: lab(15.204% 0 -0.00000596046);
  --muted-foreground: lab(66.128% -0.0000298023 0.0000119209);
  --accent: lab(27.036% 0 0);
  --accent-foreground: lab(98.26% 0 0);
  --destructive: lab(63.7053% 60.745 31.3109);
  --destructive-foreground: lab(49.0747% 69.3434 49.6251);
  --border: lab(100% 0 0 / 10%);
  --input: lab(100% 0 0 / 15%);
  --ring: lab(48.496% 0 0);
  --sidebar: lab(7.78201% -0.0000149012 0);
  --sidebar-foreground: lab(98.26% 0 0);
  --sidebar-primary: lab(36.9089% 35.0961 -85.6872);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(15.204% 0 -0.00000596046);
  --sidebar-accent-foreground: lab(98.26% 0 0);
  --sidebar-border: lab(100% 0 0 / 10%);
  --sidebar-ring: lab(34.924% 0 0);
  --surface: lab(7.22637% -0.0000149012 0);
  --surface-foreground: lab(66.128% -0.0000298023 0.0000119209);
  --code: var(--surface);
  --code-highlight: lab(15.32% 0 0);
  --code-number: lab(67.52% -0.0000298023 0);
  --selection: lab(90.952% 0 -0.0000119209);
  --selection-foreground: lab(7.78201% -0.0000149012 0);
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-code: var(--code);
  --radius-full: 9999px;
}

page,
view,
text,
button,
input,
textarea,
label,
scroll-view,
image {
  border-color: var(--border);
}

::selection {
  background-color: var(--selection);
  color: var(--selection-foreground);
}
